{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>{{ post.title|censor }}</h1>
{{ post.date|date:'d.m.y' }}
<hr>
{{ post.text|censor }}
<hr>
Автор: {{ post.author.user.username }} ({{ post.author.rating }})
<hr>
Категории: {% for category in post.categories.all %}
<a href="{% url 'posts_in_category' category.id %}">{{ category }}</a>
{% endfor %}
<hr>
{% if post_author %}
<button> <a href="{% url 'post_update' post.id %}">Редактировать</a> </button>
<button> <a href="{% url 'post_delete' post.id %}">Удалить</a> </button>
{% endif %}
{% endblock content %}